<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Youtubeconvert" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Social Meta Tags -->
    <meta property="og:title" content="Youtube to Mp3 Converter">
    <meta property="og:description" content="A Simple youtube to mp3 converter by Riyad Anabtawi">
    <meta property="og:url" content="https://example.com/stylish-form">
    <meta property="og:image" content="https://example.com/images/form-preview.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Youtube to Mp3 Converter">
    <meta name="twitter:description" content="A Simple youtube to mp3 converter by Riyad Anabtawi">
    <meta name="twitter:image" content="https://example.com/images/form-preview.png">

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
